{% extends 'base.html' %}
{% block title %} Secret {% endblock %}
{% block content %}
<p>
    <div>
        Username: {{user.username}}
    </div>
    <div>
        First Name: {{user.first_name}}
    </div>
    <div>
        Last Name: {{user.last_name}}
    </div>
    <div>
        Email: {{user.email}}
    </div>
    <div>
        User ID: {{user.id}}
    </div>
    <ol>
        {% for feedback in user.feedback %}
            <li>
                {{feedback.title}}
                <a href="/feedback/{{feedback.id}}/update">Edit</a>
                <form action="/feedback/{{feedback.id}}/delete" method="POST">
                    <button type="submit" style="color:red; display:inline;">X</button>
                </form>
            </li>
        {% endfor %}
    </ol>
</p>
<a href="/users/{{user.id}}/feedback/add">Add Feedback!</a>
<form action="/users/{{user.username}}/delete" method="POST">
    <button type="submit">DELETE USER</button>
</form>
{% endblock %}